$odd-color: #FFFFFF;
$odd-hover-color: #F9F9F9;
$even-color: #F2F2F2;
$even-hover-color: #ECECEC;

table {
    border-collapse:collapse;
}

th {
    padding: 6px;
    text-align: left;
}

thead {
    border-bottom: 1px solid black;
}

td {
    padding: 6px;
}

tbody tr {
    border-bottom: 1px solid grey;
}

tbody tr:nth-child(even) {
    background-color: $even-color;
}

tbody tr:nth-child(even):hover {
    background-color: $even-hover-color;
}

tbody tr:nth-child(odd) {
    background-color: $odd-color;
}

tbody tr:nth-child(odd):hover {
    background-color: $odd-hover-color;
}

tbody tr:hover {
    background-color: #E6E6E6;
}

tbody img {
    border-radius: 50%;
    width: 50px;
}
