body {
    font-family:sans-serif;
}

table {
    border-collapse:collapse;
}

th {
    padding: 6px;
    text-align: left;
}

thead {
    border-bottom: 1px solid black;
}

td {
    padding: 6px;
}

tbody tr {
    border-bottom: 1px solid grey;
}

tbody tr:nth-child(even) {
    background-color: #F2F2F2;
}

tbody tr:hover {
    background-color: #E6E6E6;
}

tbody img {
    border-radius: 50%;
    width: 50px;
}
